<div class='mt-4'>
  <h1>{{resName}}</h1>
  <h3>Sửa món ăn</h3>

  <form
    method='POST'
    enctype="multipart/form-data"
    action='/restaurants/{{resSlug}}/foods/{{food.food_id}}?_method=PUT'
  >

    <select class='form-group' id='type_id' name='type_id'>
      <option value='{{food.type_id}}'>{{food.Food_type.type_name}}</option>
      {{#each food_types}}
        <option value='{{this.type_id}}'>{{this.type_name}}</option>
      {{/each}}
    </select>

    <div class='form-group'>
      <label for='food_name'>Tên món ăn</label>
      <input
        type='text'
        class='form-control'
        value='{{food.food_name}}'
        id='food_name'
        name='food_name'
      />
    </div>

    <div class='form-group'>
      <label for='desc'>Mô tả</label>
      <textarea
        class='form-control'
        id='desc'
        name='desc'
      >{{food.desc}}</textarea>
    </div>

    <div class='form-group'>
      <label for='price'>Giá</label>
      <input
        type='text'
        class='form-control'
        value='{{food.price}}'
        id='price'
        name='price'
      />
    </div>


    <div class="form-group mt-4">
      <div class="flex-shrink-0">
        <label for="image">Hình ảnh</label>
        <br>
            <img src="data:image/jpeg;base64,{{food.image}}"
              alt="{{food.food_name}}" class="img-fluid"
              style="width: 180px; border-radius: 10px;">
          </div>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
    

    <button type='submit' class='btn btn-primary mt-4'>Lưu lại</button>
  </form>

</div>