<div class="mt-4">

      <h1>{{resName}}</h1>
      <a href="/restaurants/{{resSlug}}/foods">Danh sách món ăn</a>
      <h3>Món ăn đã xóa</h3>
    </div>  

    <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên món</th>
      <th scope="col">Loại</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Giá</th>
      <th scope="col" colspan="2">Thời gian xóa</th>
    </tr>
  </thead>
  <tbody>
    {{#each foods}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.food_name}}</td>
      <td>{{this.Food_type.type_name}}</td>
      <td>{{this.desc}}</td>
      <td>{{this.price}}</td>
      <td>{{this.deletedAt}}</td>
      <td>
        <a href="" class="btn btn-link btn-restore" data-res_slug="{{../resSlug}}" data-id="{{this.food_id}}">Khôi phục</a>
        <a href="" class="btn btn-link" data-res_slug="{{../resSlug}}" data-id="{{this.food_id}}" data-bs-toggle="modal" data-bs-target="#delete-food-modal">Xóa vĩnh viễn</a>
      </td>
    </tr>

    {{else}}
    <tr>
      
      <td colspan="5" class="text-center">
        Chưa có món ăn nào được xóa.
      </td>
    </tr>

    {{/each}}
  </tbody>
</table>
</div>


{{!-- Confirm delete food --}}
<div class="modal fade" id="delete-food-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Xóa món ăn vĩnh viễn?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục.</p>
        <p>Bạn vẫn muốn xóa nhà hàng này chứ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-food" type="button" class="btn btn-primary btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>



<form name="delete-food-form" method="POST"></form>
<form name="restore-food-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let foodID, resSlug;
    const deleteForm = document.forms['delete-food-form'];
    const restoreForm = document.forms['restore-food-form'];
    const buttonDeleteFood = document.querySelector('#btn-delete-food');
    const deleteFoodModal = document.querySelector('#delete-food-modal');
    const restoreBtnAll = document.querySelectorAll('.btn-restore');

    // When dialog confirm clicked
    deleteFoodModal.addEventListener('show.bs.modal', (event) => {
      foodID = event.relatedTarget.getAttribute("data-id");
      resSlug = event.relatedTarget.getAttribute("data-res_slug");
    });

    // When delete food btn clicked
    buttonDeleteFood.addEventListener('click', () => {
      deleteForm.action = '/restaurants/' +resSlug+ '/foods/' + foodID + '/force?_method=DELETE';
      deleteForm.submit();
    })

    // Restore btn clicked
    restoreBtnAll.forEach(restoreBtn => {
      restoreBtn.addEventListener('click', (e) => {
        e.preventDefault();

        foodID = restoreBtn.getAttribute("data-id");
        resSlug = restoreBtn.getAttribute("data-res_slug");
        restoreForm.action = '/restaurants/' +resSlug+ '/foods/' + foodID + '/restore?_method=PATCH';
        restoreForm.submit();
      })
    })
  })

</script>