<div class='mt-4'>
  <div>
    <a href='/manage/stored/users'>Danh sách người dùng</a>
    <h3>Người dùng đã xóa</h3>
  </div>

  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Họ tên</th>
        <th scope='col'>Mô tả</th>
        <th scope='col' colspan='2'>Thời gian xóa</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.user_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=''
              class='btn btn-link btn-restore'
              data-id='{{this.user_id}}'
            >Khôi phục</a>
            <a
              href=''
              class='btn btn-link'
              data-id='{{this.user_id}}'
              data-bs-toggle='modal'
              data-bs-target='#delete-user-modal'
            >Xóa vĩnh viễn</a>
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan='5' class='text-center'>
            Chưa có người dùng nào được xóa.
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete user }}
<div class='modal fade' id='delete-user-modal' tabindex='-1' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5'>Xóa người dùng vĩnh viễn?</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <p>Hành động này không thể khôi phục.</p>
        <p>Bạn vẫn muốn xóa người dùng này chứ?</p>
      </div>
      <div class='modal-footer'>
        <button
          id='btn-delete-user'
          type='button'
          class='btn btn-primary btn-danger'
        >Xóa vĩnh viễn</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name='delete-user-form' method='POST'></form>
<form name='restore-user-form' method='POST'></form>

<script>
  document.addEventListener('DOMContentLoaded', () => { 
    let userID; 
    const deleteForm = document.forms['delete-user-form']; 
    const restoreForm = document.forms['restore-user-form']; 
    const buttonDeleteUser = document.querySelector('#btn-delete-user'); 
    const deleteUserModal = document.querySelector('#delete-user-modal'); 
    const restoreBtnAll = document.querySelectorAll('.btn-restore'); 
    // When dialog confirm clicked
    deleteUserModal.addEventListener('show.bs.modal', (event) => { 
      userID = event.relatedTarget.getAttribute("data-id"); 
    }); 
    
    // When delete user btn clicked 
    buttonDeleteUser.addEventListener('click', () => { 
      deleteForm.action = '/users/' + userID + '/force?_method=DELETE'; 
      deleteForm.submit(); 
      }) 
      
      // Restore btn clicked 
      restoreBtnAll.forEach(restoreBtn => {
        restoreBtn.addEventListener('click', (e) => { 
          e.preventDefault(); 
          userID = restoreBtn.getAttribute("data-id"); 
          restoreForm.action = '/users/' + userID + '/restore?_method=PATCH';
          restoreForm.submit(); 
        }) 
      }) 
  })

</script>