
<div class="mt-4">
    <h3>{{user.user_name}}</h3>
    

<div class="mt-4">
    <div class="row">
        {{#each detailRestaurant}}
        <div class="col-sm-6 col-lg-4">
        <div class="card" style="width: 18rem;">
        
            <img src="{{this.image}}" class="card-img-top mt-3" alt="{{this.res_name}}">
        
        <div class="card-body">
            <h3>{{this.res_name}}</h3>
            <p class="card-text">{{this.desc}}</p>
           
            <button type="button" data-user_id="{{../user.user_id}}" data-res_id="{{this.res_id}}" value="{{this.likedRestaurants}}" class="btn-like">Like</button>

            <div class="rate-{{this.res_id}}" data-user_id="{{../user.user_id}}" data-res_id="{{this.res_id}}" data-rating="{{this.rating}}">
              <input type="radio" id="star5-{{this.res_id}}" name="rate-{{this.res_id}}" value="5"/>
              <label for="star5-{{this.res_id}}" title="text">5 stars</label>
              <input type="radio" id="star4-{{this.res_id}}" name="rate-{{this.res_id}}" value="4" />
              <label for="star4-{{this.res_id}}" title="text">4 stars</label>
              <input type="radio" id="star3-{{this.res_id}}" name="rate-{{this.res_id}}" value="3" />
              <label for="star3-{{this.res_id}}" title="text">3 stars</label>
              <input type="radio" id="star2-{{this.res_id}}" name="rate-{{this.res_id}}" value="2" />
              <label for="star2-{{this.res_id}}" title="text">2 stars</label>
              <input type="radio" id="star1-{{this.res_id}}" name="rate-{{this.res_id}}" value="1" />
              <label for="star1-{{this.res_id}}" title="text">1 star</label>
            </div>
          

        </div>
        </div>
        </div>
        {{/each}}

    </div>
</div>
</div>

<script>

document.addEventListener('DOMContentLoaded', () => {
  const likeBtnAll = document.querySelectorAll('.btn-like');
  const url = window.location.href;

  const rateBtnAll = document.querySelectorAll('input[name^="rate-"]');

  const orderBtnAll = document.querySelectorAll('.btn-order');
  
  // Handle Like action
  likeBtnAll.forEach(likeBtn => {
    likeBtn.innerHTML = likeBtn.value == 1  ? 'Liked' : 'Like';
  })


  // Handle rate action
  rateBtnAll.forEach(rateBtn => {
    rateBtn.checked = rateBtn.parentNode.getAttribute('data-rating') === rateBtn.value;
  })

})

</script>





