<div class="mt-4">
    <div class="row">
        
        {{#each restaurants}}
        <div class="col-sm-6 col-lg-4">
        <div class="card" style="width: 18rem;">
        <a href="/restaurants/{{this.slug}}">
            <img src="{{this.image}}" class="card-img-top mt-3" alt="{{this.res_name}}">
        </a>
        <div class="card-body">
            <a href="/restaurants/{{this.slug}}">{{this.res_name}}</a>
            <p class="card-text">{{this.desc}}</p>
            <a href="/restaurants/{{this.slug}}" class="btn btn-primary">Chi tiết</a>
        </div>
        </div>
        </div>
        {{/each}}

    </div>
</div>