<div class='mt-4'>
  <div>
    <a href='/profile'>Quay lại</a>
    <h3>Lịch sử đặt hàng</h3>
  </div>

  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Hóa đơn</th>
        <th scope='col'>Tổng tiền</th>
        <th scope='col'>Giảm giá</th>
        <th scope='col'>Thanh toán</th>
        <th scope='col' colspan='2'>Thời gian mua</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.order_id}}</td>
          <td>đ{{this.amount}}</td>
          <td>{{this.discount}}%</td>
          <td>đ{{this.total_price}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href='/profile/history/{{this.order_id}}' class='btn btn-link'>Chi tiết</a>
          
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan='5' class='text-center'>
            Bạn chưa có hóa đơn nào trong hệ thống.
            <a href='/'>Đặt món</a>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
</div>
