<div class="mt-4">
    <h1>{{restaurant.res_name}}</h1>
    <h3>Tạo món ăn mới</h3>

<form method="POST" action="/restaurants/{{restaurant.slug}}/foods/store">

<select class="form-group" id="type_id" name="type_id">
  <option>Loại món</option>
  {{#each food_types}}
  <option value="{{this.type_id}}">{{this.type_name}}</option>
  {{/each}}
</select>

  <div class="form-group">
    <label for="food_name">Tên món</label>
    <input type="text" class="form-control" id="food_name" name="food_name">
  </div>

  <div class="form-group">
    <label for="image">Hình ảnh</label>
    <input type="text" class="form-control" id="image" name="image">
  </div>

 <div class="form-group">
    <label for="price">Giá</label>
    <input type="text" class="form-control" id="price" name="price">
  </div>

  <div class="form-group">
    <label for="desc">Mô tả</label>
    <textarea class="form-control" id="desc" name="desc"></textarea>
  </div>

  <div class="form-group">
    <label for="res_id"></label>
    <input type="hidden" value="{{restaurant.res_id}}" class="form-control" id="res_id" name="res_id">
  </div>

  <button type="submit" class="btn btn-primary mt-4">Thêm món</button>
</form>

</div>