<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">

            <p>Tổng số lượt like: {{rst.totalLike}}<i class="bi bi-hand-thumbs-up-fill"></i></p>
            {{#each like}}
            <ul>
                <li>{{this.User.user_name}}<i class="bi bi-hand-thumbs-up-fill"></i></li>
            </ul>
            {{/each}}

            <p>Tổng số rate: {{rst.rating}} <i class="bi bi-star-fill"></i></p>
            {{#each rate}}
            <ul>
                <li>{{this.User.user_name}} - {{this.rating}}<i class="bi bi-star-fill"></i></li>
            </ul>
            {{/each}}
        </div>

        <div class="col-lg-9">
            <h2>{{rst.res_name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{rst.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{rst.desc}}</p>
        </div>
        
    </div>
</div>

<div class="mt-4">
    <div class="row">
        
        {{#each foods}}
        <div class="col-sm-6 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top mt-3" alt="{{this.food_name}}">
        </a>
        <div class="card-body">
            <h3 class="card-text">{{this.food_name}}</h3>
            <p class="card-text">Loại: {{this.Food_type.type_name}}</p>
            <p class="card-text">Mô tả: {{this.desc}}</p>
            <p class="card-text">Giá: {{this.price}}</p>
            <button type="button" data-food_id="{{this.food_id}}" class="btn-order">Thêm món</button>
        </div>
        </div>
        </div>
        {{/each}}

    </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', () => {
    const orderBtnAll = document.querySelectorAll('.btn-order');

    orderBtnAll.forEach(orderBtn => {
        orderBtn.addEventListener('click', async () => {
            const food_id = orderBtn.getAttribute('data-food_id');

            const result = await fetch('/cart/order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                    },
                body: JSON.stringify({food_id}),
            })
        })
    })
})

</script>